.titulobt, .titulofarm, .tituloprom, 
.titulodog, .titulocat, .titulopets, .titulosobre {
    background-color: #70ccfc;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.bt img, .farm img, .prom img,
.dog img, .cat img, .pets img, .sobrenos img{
    height:250px;
    width: auto;
}

.bt {
    margin-top: 15px;
    margin-bottom: 15px;

}


.farm, .prom, .dog, .cat, .pets, .admc, .clic {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vet img{
    height:30rem;
    width: 90rem;
    margin-top: 15px;
}

.bodyadm, .bodycli{
    background: #F0E68C;
}

.agd {
    background-color: #fc7414;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 120px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sobrenos {
    margin-bottom: 120px;
}