.carrossel img{
    height:450px;
    background-color: #F0E68C;

}



.servicos img{
    height:250px;
    width: 300px;
}


.rodape img{
    height:150px;
    width:150;  
}

.rodape {
    background-color: #F0E68C;
    font-size:13px; 
}

.titulo {
    background-color: #ff914d;
    border-radius: 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}


